<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <title>IoT-MES Dummy Device App</title>
</head>
<body>
  <div class="container">
    <h1 class="page-header">IoT-MES Dummy Device App</h1>
    <h2 class="sub-header">Send to IoTCS</h2>
      <form action="/submit" method="post">
        <div class="form-group">
          <label for="wip_order_number">製造指示番号 - wip_order_number</label>
          <input type="text" class="form-control" id="wip_order_number" name="wip_order_number" style="width: 16em;"/>

          <label for="wip_order_type">製造指示タイプ - wip_order_type</label>
          <input type="number" min="1" max="28" class="form-control" id="wip_order_type" name="wip_order_type" style="width: 16em;"/>

          <label for="opr_sequence_number">工程番号 - opr_sequence_number</label>
          <input type="text" class="form-control" id="wip_order_number" name="opr_sequence_number" style="width: 16em;"/>

          <label for="employee_number">従業員番号 - employee_number</label>
          <input type="text" class="form-control" id="employee_number" name="employee_number" style="width: 16em;"/>

          <label for="equipment_name">使用設備名 - equipment_name</label>
          <input type="text" class="form-control" id="equipment_name" name="equipment_name" style="width: 16em;"/>

          <label for="successful_quantity">実績数量 - successful_quantity</label>
          <input type="number" min="0" class="form-control" id="successful_quantity" name="successful_quantity" style="width: 16em;"/>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>
</body>
</html>
